.loginForm {
  width: 300px;
  margin: 10px;
}

.cardForm {
  width: 400px;
}

.cardContainer {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roleCard {
  width: 500px;
}

.logInButton {
  margin-left: 129px;
}

.MuiCardContent-root {
  margin-left: 100px;
}
.roleCardContainer {
  width: 700px;
  margin-left: 300px;
}
